html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #ced4da;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-toggle:hover {
  background-color: #e9ecef;
}

.dropdown-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-top: none;
  display: none;
  z-index: 1;
}

.dropdown-menu .dropdown-item {
  display: block;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa;
}

.dropdown-menu.show {
  display: block;
}

#searchSubmitBtn {
  background-color: #7ab6f1;
  color: #212529;
  border: 1px solid #ced4da;
  padding: 8px 16px;
  cursor: pointer;
}
#searchSubmitBtn:hover {
  background-color: #33689c;
}

input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="date"]:focus {
  outline: none;
  border-color: #5b9dd9;
  box-shadow: 0 0 5px #5b9dd9;
}

.dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-menu {
  max-height: 15rem; 
  overflow-y: auto;
}

.dropdown-item {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

footer p {
  margin: 0;
  font-size: 14px;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 18px;
    margin: 0 0 10px;
}

.card p {
    margin: 0 0 5px;
}

.card ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card ul li:before {
    content: '\2022';
    color: #ccc;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.card .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card .buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#loginLabel {
  text-align: center;
  margin-bottom: 20px;
}

#loginForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#loginForm button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}