{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gamerbase</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    
    <input type="hidden" id="userId" value={{user.id}}>
    <input type="hidden" id="user_profileId" value={{user.user_profile.id}}>

    <input type="hidden" id="username" value={{user.username}}>
    {% include 'partials/navbar.html' %} {% block content %} {% endblock %}
    {% include 'partials/footer.html' %}
  </body>
</html>
